.search {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#results {
  padding-top: 10px;
  text-align: left;
}

#details {
  text-align: left;
}

#searchInputContainer {
  position: relative;
  display: inline-block;
}

#searchSuggestions {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#searchSuggestions :hover {
  background-color: #ddd;
}

#detailsTitle {
  text-align: center;
}
